<div class="container">
  <nav
    mat-tab-nav-bar
    headerPosition="below"
    animationDuration="0ms"
    mat-align-tabs="center"
    mat-stretch-tabs
    class="footer mat-elevation-z4"
  >
    <a
      mat-tab-link
      (click)="activeLink = links[0]"
      [active]="activeLink == links[0]"
      routerLink="/"
    >
      <mat-icon aria-hidden="false" aria-label="Home">home</mat-icon>
    </a>
    <a
      mat-tab-link
      (click)="activeLink = links[1]"
      [active]="activeLink == links[1]"
      routerLink="/reco"
    >
      <mat-icon aria-hidden="false" aria-label="Assistant">assistant</mat-icon>
    </a>
    <a
      mat-tab-link
      (click)="activeLink = links[2]"
      [active]="activeLink == links[2]"
      routerLink="/profile"
    >
      <mat-icon aria-hidden="false" aria-label="Person">person</mat-icon>
    </a>
  </nav>
</div>
