main {
  width: 315px;
  padding-top: 7px;
  padding-bottom: 10px;
  height: 395px;
  background-color: #e5e5e5;
  /* overflow-y: scroll; */
  overflow-x: hidden;
}
main::-webkit-scrollbar {
  display: none;
}
