<div class="container">
  <div class="row">
    <div class="col-4">
      <div class="row">
        <div class="col-12">
          <circle-progress
            [percent]="100"
            [radius]="23"
            [showSubtitle]="false"
            [showUnits]="false"
            [title]="'M'"
            [titleColor]="'#34BA96'"
            [outerStrokeWidth]="1"
            [innerStrokeWidth]="0"
            [outerStrokeColor]="'#34BA96'"
            [animation]="true"
            [animationDuration]="300"
          ></circle-progress>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <span class="best-fit">Best Fit</span>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="row">
        <div class="col-12">
          <circle-progress
            [percent]="94"
            [radius]="23"
            [showSubtitle]="false"
            [showUnits]="false"
            [space]="-3"
            [titleFontSize]="16"
            [outerStrokeWidth]="3"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'#34BA96'"
            [innerStrokeColor]="'#E5E5E5'"
            [animation]="true"
            [animationDuration]="300"
          ></circle-progress>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <span class="best-fit">Fit Score</span>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="row">
        <div class="col-12">
          <circle-progress
            [percent]="60"
            [radius]="23"
            [showSubtitle]="false"
            [showUnits]="false"
            [space]="-3"
            [titleFontSize]="16"
            [outerStrokeWidth]="3"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'#DC9834'"
            [innerStrokeColor]="'#E5E5E5'"
            [animation]="true"
            [animationDuration]="300"
          ></circle-progress>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <span class="best-fit">Quality Score</span>
        </div>
      </div>
    </div>
  </div>
</div>
