<div class="container">
  <div class="row row1">
    <div class="col-4 wrap_top_img">
      <img
        class="img-circle img-border"
        src="https://tse3.mm.bing.net/th?id=OIP.dkUsiJ8mp082j8BeQZR7EAHaHa&pid=Api&P=0&w=300&h=300"
      />
    </div>
    <div class="col-4 wrap_top text-center bold">Kate Doe</div>
    <div class="col-4 wrap_top text-center edit">
      <a href="#">Edit</a>
    </div>
  </div>
  <div class="row row2 text-center">
    <div class="col-4 bold">Email</div>
    <div class="col-8">info@joinsahara.com</div>
  </div>
</div>
