.row {
}

.row1 {
  height: 72px;
}

.row2 {
  height: 32px;
}

.bold {
  font-weight: 700;
}

.wrap_top {
  top: 35%;
}

.wrap_top_img {
  top: 0%;
}

img {
  width: 72px;
  display: block;
  height: 72px;
}

.img-border {
  border-radius: 5000px;
}

.container1 {
  position: relative;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
}

.edit {
  position: absolute;
  width: 16px;
  height: 16px;
  left: 284px;
  top: 7px;
}
.name {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  /* identical to box height, or 167% */

  display: flex;
  align-items: center;
  letter-spacing: 0.02em;

  color: #3e3e3e;
}
.email {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 15px;
  /* or 200% */

  display: flex;
  align-items: center;
  letter-spacing: 0.02em;

  color: #898989;
}
