<div class="container">
  <div class="row">
    <div class="col-9 left bold">
      <span class="settings">Settings</span>
    </div>
    <div class="col-3 right">
      <a href="#">
        <svg
          width="8"
          height="14"
          viewBox="0 0 8 14"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M1 13L7 7L1 1"
            stroke="#AEA6A6"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </a>
    </div>
  </div>
</div>
